{{#unless flatMode}}
  <div class='buttons'>
    <button class='decrease-btn' {{action 'decreaseYear'}} disabled='{{if decreaseYearButtonDisabled "disabled"}}'>
      {{{decreaseButtonText}}}
    </button>

    <button class='picker-toggle-btn rl-dropdown-toggle' {{action 'toggleDropdown'}}>
      {{#if year}}
        {{year}}
      {{else}}
        {{{yearPlaceholderText}}}
      {{/if}}
      <i class='caret'></i>
    </button>

    <button class='increase-btn' {{action 'increaseYear'}} disabled='{{if increaseYearButtonDisabled "disabled"}}'>
      {{{increaseButtonText}}}
    </button>
  </div>
{{/unless}}

{{#if pickerVisible}}
  <div class='picker rl-dropdown'>
    <div class='page-controls'>
      <button class='previous-page-btn' {{action 'previousPage'}} disabled='{{if previousPageButtonDisabled "disabled"}}'>
        {{{previousPageButtonText}}}
      </button>

      <button class='next-page-btn' {{action 'nextPage'}} disabled='{{if nextPageButtonDisabled "disabled"}}'>
        {{{nextPageButtonText}}}
      </button>
    </div>

    <ul class='year-list'>
      {{#each yearsOnPage as |year|}}
        <li class='{{if year.isActive "active"}} {{if year.outOfRange "out-of-range"}}' {{action 'pickedYear' year.year}}>
          {{year.year}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
